body {
    min-height: 100vh;
    overflow: hidden;
    background-image: url(8/contentbg.jpg) !important;
    background-color: #000000 !important;
    background-repeat: repeat;
    color: #ffffff;
}

h1, h2, h3 {
    margin: 15px 0px !important;
    display: block!important;
}

a {
    color: #4488ee;
    text-decoration: none;
}

a:hover {
    color: #44ee88;
}

#loginform {
    padding: 20px;
    margin: auto;
    max-width: 400px;
    text-align: center;
    border-style: outset;
    border-width: 3px;
    border-color: #222222;
    border-radius: 8px;
    -moz-border-radius: 8px;
    -webkit-border-radius: 8px;
    background-color: #000000;
    background-color: #323232;
    background-image: url('loginformbg.jpg');
    background-position: top;
    background-repeat: repeat-x;
}

.red {
    color: #bb0000;
}

.green {
    color: #44BB66;
}

.blue {
    color: #4488ee;
}

.footer {
    width:100%;
    font-weight: bold;
    font-size: 1rem;
    bottom: 0px;
    display: block;
    position: fixed;
    text-align: center;
}