body {
    padding: 0px;
    margin: 0px;
    background-color: #ffffff;
    color: #000000;
}

a {
    text-decoration: none;
    color: #000000;
}

h1, h2, h3, h4, h5, h6, form {
    display: block;
}

a img {
    display: inline-block;
    padding: 0px;
    margin: 0px;
    border-width: 0px;
    border-style: none;
    vertical-align: middle;
}
table {
    width: 100%;
    border-collapse: collapse;
    border: 1px soild black;
}

table.roundangled20 {
    margin: 10px;
    border-collapse: collapse;
    border: 1px soild black;
}

table.rb {
    border-collapse: collapse;
    border: 1px soild black;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    width: 100%;
}

table.centeraligned tr td {
    text-align: center;
}

table.leftaligned tr td {
    text-align: left;
}

table.roundangled20 tr td,
table.roundangled20 tr th,
table.rb tr td,
table.rb tr th,
.embossed {
    padding: 1px;
    margin: 1px;
    text-align: center;
    border-collapse: collapse;
    border: 1px solid black;
}

#banner {
    font-size: 32px;
}

th {
    text-align: center;
}
.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}
td:first-of-type {
    padding-left: 8px;
    padding-right: 8px;
}