body {
    background-color: #ffffff;
    color: #000000;
    font-size: 16px;
}

img {
    border-width: 0px;
    border-style: none;
    padding: 0px;
    margin: 0px;
}

img.leftmargin {
    display: inline-block;
    float: left;
    height: 2400px;
}

img.inline {
    display: inline;
    height: 1px;
}

table.table {
    border-collapse: collapse;
    border: 1px solid black;
}

tr , td, th {
    border: 1px solid black;
    padding: 5px;
    vertical-align: middle;
}

th {
    text-align: center;
}
.text-right {
    text-align: right !important;
}

.text-left {
    text-align: left !important;
}

.text-center {
    text-align: center !important;
}
td:first-of-type {
    padding-left: 8px;
    padding-right: 8px;
}