/*---------------TOPMENU--------------------*/
body {
    background-color: #323232;
    background-image: url('contentbg.jpg');
    background-repeat: repeat;
    color: #ffffff;
    text-shadow: 0px 1px 0px #000000;
}

#topmenu {
    background-color: #8a8a8a;
    background-image: url('menubg.jpg');
    background-position: bottom;
    border-color: #525252;
}

#topmenu ul li a {
    color: #ffffff;
    border-color: #252525;
}

#topmenu a:hover {
    background-image: url('menubg.jpg');
    background-position: top;
}

#topmenu ul li ul li a {
    background-color: #343434;
    background-repeat: repeat-x;
}
#banner{
    padding-bottom: 30px;
}
/*------------TIME-DATE-DAY-----------------*/

#ttd {
    color: #6699aa;
}

/*---------------CONTENT--------------------*/
#content a {
    color: #ffffff;
    font-weight: bold;
}

#content a:hover {
    color: #ffff55;
}


#content table.rb {
    border-color: #737373;
}

#content table.roundangled20 tr td,
#content table.rb tr td,
#content .embossed {
    border-color: #737373;
    background-color: #8A8A8A;
    background-image: url('menubg.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
}

#content table.roundangled20 tr th,
#content table.rb tr th {
    border-color: #898989;
    background-color: #323232;
    background-image: url('menubg.jpg');
    background-position: top;
    background-repeat: repeat-x;
}

#content #bigmenu a,
#content a.bigbutton {
    color: #ffffff;
    border-color: #525252;
    background-color: #8A8A8A;
    background-image: url('menubg.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
}

#content #bigmenu a:hover,
#content a:hover.bigbutton,
#content a:hover.button {
    background-color: #323232;
    background-position: top;
}

#content a.button {
    color: #ffffff;
    border-color: #777777;
    background-color: #8A8A8A;
    background-image: url('menubg.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
    width: 80%;
}

#content input.searchword {
    color: #000000;
    border-color: #777777;
    background-color: #ffffff;
}

/*---------------ENDING--------------------*/
#ending {
    background-color: #8A8A8A;
    border-color: #8A8A8A;
    background-image: url('menubg.jpg');
    background-position: bottom;
    background-repeat: repeat-x;
}

#ending a {
    color: #eeeeff;
}

#topmenu a:hover,
#content #bigmenu a:hover,
#content a:hover.bigbutton, #content a:hover.button,
#ending a:hover {
    color: #88eeff;
}

/*----------MESSAGE-COLORS------------------*/

.red {
    color: #aa0000;
}

.green {
    color: #007755;
}

.blue {
    color: #3377dd;
}

.faintred {
    color: #bb3333;
}

.faintgreen {
    color: #338844;
}

.dataTables_wrapper .dataTables_paginate .paginate_button {
color: #ffffff !important;
}
